name: trigger-sync-from-pr-comment

on:
  issue_comment:
    types: [created]

jobs:
  trigger-sync:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && github.event.comment.body == '/sync' }}
    steps:
      - uses: xt0rted/pull-request-comment-branch@v2
        id: comment-branch
      - name: Add reaction
        if: ${{ success() && steps.comment-branch.outputs.head_ref == 'sync-with-notion' }}
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.reactions.createForIssueComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              comment_id: context.payload.comment.id,
              content: 'eyes'
            })
      - name: Trigger Workflow
        if: ${{ success() }}
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'sync-with-notion.yml',
              ref: 'main',
              inputs: {
                forceUpdate: 'false'
              }
            })
